@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    /*text-transform: capitalize;*/
    transition: all 0.2s linear;
  }



  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    background:#FFE6E6;
    font-family: "Poppins", sans-serif;
  }
  
  *::selection {
    background: #2b3dda;
    color: #fff;
  }html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  html::-webkit-scrollbar {
    width: 0.8rem;
  }
  html::-webkit-scrollbar-track {
    background: rgb(235, 202, 245);
  }
  html::-webkit-scrollbar-thumb {
    background: #420177;
  }
  
  /* pre loader start */
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #e6eff1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .loader-container.fade-out {
    top: -120%;
  }

  /*nav bar start*/
  #nav{

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    /*position:fixed;*/
    height:8rem;
  
    /*border:1px ;
    border-style:solid;*/
    
    border-bottom-style: solid;
    border-bottom-color:#AD88C6;
    display:flex;
    background-color:#E1AFD1
  
  
    
  }
  .navbar{
    height:6rem;
    /*border:2px;
    border-style:solid;
    /*border-color: black;*/
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    position:fixed;
    z-index: 1000;
    top:2.6rem;
    width:50%;
    overflow: hidden;
    list-style: none;
    right:2rem;
  }
  
  .navbar a{
    text-decoration: none;
    font-weight:bolder;
    font-size: 1.8rem;
    color:black;
    
    
  }
  .navbar li a:hover {
    color:#3f0368;
    font-size: 2.5rem;
  }
  
  
.profile{
  height:60px;
  width:60px;
  border-radius: 50%;
  background-image: url("profile.jpg");
  background-size: cover;
  position:absolute;
  top:1.4rem;
  left:5rem;
}

.para{
  position:absolute;
  top:2.5rem;
  left:12rem;
  font-size: 2.4rem;
  color:#3f0368;
  font-weight: bolder;
}
  
  
  /*navbar ends*/
  
  

  /*main content*/

  

  .skills{
    margin-top:10rem;
  }

.skills{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.techskill{

  height:300px;
    width:300px;
    border-radius:50%;
    border-style:solid;

    border-color:rgba(211, 141, 231, 0.89);
    position:absolute;
    top:30rem;
    left:15rem;
    /*box-shadow: 1px 1px 10px #7469B6;*/
    
    
}


.tech{
  height: 100px;
  width:100px;
    border-radius:50%;
    border-style:solid;

    border-color:rgba(211, 141, 231, 0.89);
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: whitesmoke;
  box-shadow: 1px 1px 10px #7469B6;
    

}
#java{
  position:absolute;
  top:260px;
  left:100px;
}
#python{
  position:absolute;
  top:150px;
  left:220px;
}

#js{
  position: absolute;
  top:10px;
  left:220px;
}

#css{
  position:absolute;
  bottom:230px;
  left:100px;

}

#cpp{
  position:absolute;
  bottom:40px;
  right:210px;

}
#html{
  position:absolute;
  top:30px;
  right:220px;

}

/*
.softskill{
  height:300px;
    width:300px;
    border-radius:50%;
    border-style:solid;

    border-color:rgba(211, 141, 231, 0.89);
    /*box-shadow: 1px 1px 10px #7469B6;
    
}*/
.softskill{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: space-between;
  position:absolute;
  top:260px;
  right:200px;
}

.tech:hover{
  height: 120px;
  width:120px;

}
.soft:hover{
  height: 90px;
  width:170px;

}

.icon{
  font-weight: bold;
}


.image{
  height:300px;
  width:300px;
  background-image: url("download.png");
  background-size: cover;
  background-color:#FFE6E6; 
  position:absolute;
  left:600px;
  top:250px;
}

h1{
  text-align: center;
  margin-top:50px;
  text-decoration: underline;
  text-decoration-color:rgba(211, 141, 231, 0.89); 

    font-weight: bolder;
    color:rgb(0, 0, 0);
    font-size:4rem;

}
span{
    color:#3f0368;
}
.heading{
  text-align: center;
}

.soft{
  height:80px;
  width:160px;
  border-style:solid;

  border-color:rgba(211, 141, 231, 0.89);
  text-align:center;
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  background-color: whitesmoke;
box-shadow: 1px 1px 10px #7469B6;
font-size: 1.2rem;
  
}
/*
hr{
    color:rgb(211, 204, 204);
    border-style:solid;
    height:300px;
    background-color:rgba(222, 199, 230, 0.89);
  
}
*/
#abc{
  position:absolute;
  top:300px;
  right:280px;

}
#abcd{
  position:absolute;
  right:200px;
  top:200px;
}
#abcde{
  position:absolute;
  top:100px;
}
#ab{
  position: absolute;
  right:100px;
  top:100px;
}